In [1]:
import pandas as pd 
import numpy as np

In [7]:
score_df = pd.read_csv("../data/user-bookscore.csv", sep=',')

In [8]:
score_df

    user_id    book_id  score
0   2021001  193931483      8
1   2021001  234520993      3
2   2021001  193862021      2
3   2021001     176870      3
4   2021001  281019523     10
5   2021001  281761253      9
6   2021001  157472828      4
7   2021001  183884717      7
8   2021002  187043457      8
9   2021002  257288899     10
10  2021002  281019523      4
11  2021002   13376773      9
12  2021002  193862021     10
13  2021002  216841680      9
14  2021002     176870      9
15  2021002  193931483      8
16  2021003  105937256      7
17  2021003  210545323      9
18  2021003  246391275      9
19  2021003  234520993      3
20  2021003   29425554      6
21  2021003  177439970      3
22  2021003  193725370      8
23  2021003  183884717     10
24  2021004  216841680      2
25  2021004  281761253      8
26  2021004  234520993      3
27  2021004  257288899      4
28  2021004  281019523      9
29  2021004  187043457      9
30  2021004  157472828      3
31  2021004  218571649      8
32  2021005  193725370      9
33  2021005  216841680     10
34  2021005     176870      9
35  2021005  193931483      3
36  2021005  257288899      9
37  2021005  193862021      9
38  2021005  281761253      2
39  2021005  187043457      3

In [11]:
score_table = pd.pivot_table(score_df, values='score', index=['book_id'], columns=['user_id'], aggfunc=np.sum)

In [12]:
score_table

user_id    2021001  2021002  2021003  2021004  2021005
book_id
176870         3.0      9.0      NaN      NaN      9.0
13376773       NaN      9.0      NaN      NaN      NaN
29425554       NaN      NaN      6.0      NaN      NaN
105937256      NaN      NaN      7.0      NaN      NaN
157472828      4.0      NaN      NaN      3.0      NaN
177439970      NaN      NaN      3.0      NaN      NaN
183884717      7.0      NaN     10.0      NaN      NaN
187043457      NaN      8.0      NaN      9.0      3.0
193725370      NaN      NaN      8.0      NaN      9.0
193862021      2.0     10.0      NaN      NaN      9.0
193931483      8.0      8.0      NaN      NaN      3.0
210545323      NaN      NaN      9.0      NaN      NaN
216841680      NaN      9.0      NaN      2.0     10.0
218571649      NaN      NaN      NaN      8.0      NaN
234520993      3.0      NaN      3.0      3.0      NaN
246391275      NaN      NaN      9.0      NaN      NaN
257288899      NaN     10.0      NaN      4.0      9.0
281019523     10.0      4.0      NaN      9.0      NaN
281761253      9.0      NaN      NaN      8.0      2.0